In [1]:
import pandas as pd

1. Cargad los tres ficheros nombrados anteriormente y los exploramos para familizarizarnos con ellos y saber que información tienen en común y debatir con tu compañera como podríamos juntar toda la información.

In [2]:
df1 = pd.read_csv('../DATA/attacks_Pandas_4.csv', index_col=0)
df1.head()

,case-number,year,type,country,area,location,activity,name,sex-,age,time,species-,href,case-number.2,siglo
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,siglo_XXI
6,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,siglo_XXI
8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,siglo_XXI
10,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.24,siglo_XXI
13,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.a,siglo_XXI

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1502 entries, 0 to 5905
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   case-number    1502 non-null   object
 1   year           1502 non-null   float64
 2   type           1502 non-null   object
 3   country        1502 non-null   object
 4   area           1502 non-null   object
 5   location       1502 non-null   object
 6   activity       1502 non-null   object
 7   name           1502 non-null   object
 8   sex-           1502 non-null   object
 9   age            1502 non-null   object
 10  time           1502 non-null   object
 11  species-       1502 non-null   object
 12  href           1502 non-null   object
 13  case-number.2  1502 non-null   object
 14  siglo          1502 non-null   object
dtypes: float64(1), object(14)
memory usage: 187.8+ KB

In [4]:
df2 = pd.read_csv('../DATA/attacks_historico.csv', index_col=0)
df2.head()

,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,...,NaN,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0,NaN,NaN
6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,...,NaN,The Observer 5/28/1797,1797.05.28.R-Cloverdale.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1797.05.28.R,1797.05.28.R,170.0,NaN,NaN
6134,1792.09.12,1792.0,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,M,NaN,...,NaN,"The Waterford Herald, 9/15/1792",1792.09.12-Thames.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1792.09.12,1792.09.12,169.0,NaN,NaN
6135,1791.00.00,1791.0,Unprovoked,AUSTRALIA,New South Wales,Port Jackson,NaN,"female, an Australian aboriginal",F,NaN,...,NaN,"G.P. Whitley; D. Baldridge, p.162",1791.00.00-aboriginal woman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1791.00.00,1791.00.00,168.0,NaN,NaN
6136,1788.05.10,1788.0,Boat,AUSTRALIA,New South Wales,Sydney Harbor,Fishing,boat,NaN,NaN,...,NaN,"G.P. Whitley citing J. Cobley, Sydney Cove, p....",1788.05.10-Sydney,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1788.05.10,1788.05.10,167.0,NaN,NaN

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170 entries, 6132 to 6301
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             170 non-null    object
 1   Year                    170 non-null    float64
 2   Type                    170 non-null    object
 3   Country                 160 non-null    object
 4   Area                    124 non-null    object
 5   Location                119 non-null    object
 6   Activity                139 non-null    object
 7   Name                    161 non-null    object
 8   Sex                     156 non-null    object
 9   Age                     16 non-null     object
 10  Time                    10 non-null     object
 11  Species                 44 non-null     object
 12  Investigator or Source  169 non-null    object
 13  pdf                     170 non-null    object
 14  href formula            170 non-null    object
 15  href                    170 non-null    object
 16  Case Number.1           170 non-null    object
 17  Case Number.2           170 non-null    object
 18  original order          170 non-null    float64
 19  Unnamed: 22             0 non-null      float64
 20  Unnamed: 23             0 non-null      float64
dtypes: float64(4), object(17)
memory usage: 29.2+ KB

In [6]:
df3 = pd.read_csv('../DATA/attacks_adicional.csv', index_col=0)
df3.head()

,Case Number,Fatal (Y/N),Injury,Date
0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.18,N,Minor injury to left thigh,18-Jun-2018
2,2018.06.09,N,Injury to left lower leg from surfboard skeg,09-Jun-2018
3,2018.06.08,N,Minor injury to lower leg,08-Jun-2018
4,2018.06.04,N,Lacerations to leg & hand shark PROVOKED INCIDENT,04-Jun-2018

In [7]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6288 entries, 0 to 6287
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Case Number  6287 non-null   object
 1   Fatal (Y/N)  5751 non-null   object
 2   Injury       6258 non-null   object
 3   Date         6286 non-null   object
dtypes: object(4)
memory usage: 245.6+ KB

In [8]:
df1.columns

Index(['case-number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex-', 'age', 'time', 'species-', 'href',
       'case-number.2', 'siglo'],
      dtype='object')

In [9]:
df2.columns

Index(['Case Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [10]:
df3.columns

Index(['Case Number', 'Fatal (Y/N)', 'Injury', 'Date'], dtype='object')

2. Chequead que los nombres de las columnas que sean iguales entre dataframes son iguales. ¿Están todas en minúsculas? ¿Tienen espacios? En caso de que no sean todas iguales unificad el nombre de las columnas.

In [11]:
# renombramos las columnas del df1 para que esten en capitalizadas
new_columns = {col : col.title() for col in df1.columns}
df1.rename(columns=  new_columns, inplace = True)
df1.columns

Index(['Case-Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex-', 'Age', 'Time', 'Species-', 'Href',
       'Case-Number.2', 'Siglo'],
      dtype='object')

In [12]:
# separamos los nombres por espacios en vez de por - en df1
new_columns = {col : col.replace('-',' ') for col in df1.columns}
df1.rename(columns=  new_columns, inplace = True)
df1.columns

Index(['Case Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ', 'Href',
       'Case Number.2', 'Siglo'],
      dtype='object')

3. En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV es similar al DataFrame de los datos historicos. Si recordamos, eliminamos algunas columnas en la sesión III que no eran útiles, pero esas columnas están todavía en el histórico. Si no fuera por eso podríamos unir esos dataframes. Realizad los cambios que creais necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor método.

In [13]:
# vamos a realizar los cambios necesarios en df1 para que se pueda concatenar con df2

df1.columns

Index(['Case Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ', 'Href',
       'Case Number.2', 'Siglo'],
      dtype='object')

In [14]:
df2.columns

Index(['Case Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [15]:
## crear columnas que faltan en df1: 
# 'Investigator or Source', 'pdf', 'href formula','Case Number.1', 'original order', 'Unnamed: 22','Unnamed: 23'
## modificar en df2 
# href --> Href
## añadir a df2 
# Siglo

In [16]:
# añadimos las colmnas que faltan a df1
from cmath import nan

df1.insert(12, 'Investigator Or Source',nan)
df1.insert(13,'Pdf',nan)
df1.insert(14,'Href Formula',nan)
df1.insert(16,'Case Number.1',nan)
df1.insert(18,'Original Order',nan)
df1.insert(19,'Unnamed: 22',nan)
df1.insert(20,'Unnamed: 23',nan)

df1.columns

Index(['Case Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator Or Source', 'Pdf', 'Href Formula', 'Href',
       'Case Number.1', 'Case Number.2', 'Original Order', 'Unnamed: 22',
       'Unnamed: 23', 'Siglo'],
      dtype='object')

In [17]:
# Modificamos las columnas que faltan en df2
new_columns = {col : col.title() for col in df2.columns}
df2.rename(columns=  new_columns, inplace = True)
df2.columns

Index(['Case Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator Or Source', 'Pdf', 'Href Formula', 'Href',
       'Case Number.1', 'Case Number.2', 'Original Order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [18]:
# Añadimos las columnas que faltan en df2

df2.insert(21,'Siglo',nan)
df2.columns

Index(['Case Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator Or Source', 'Pdf', 'Href Formula', 'Href',
       'Case Number.1', 'Case Number.2', 'Original Order', 'Unnamed: 22',
       'Unnamed: 23', 'Siglo'],
      dtype='object')

4. Es el momento de unir la información de todos los ataques de tiburón que acabamos de crear con el DataFrame de información adicional. Debatid que método es el más correcto para unir toda esta información y ejecutadlo.
📌 NOTA Cuando hagáis la unión considerad que la información que más nos interesa es la del DataFrame que creamos en el apartado anterior, lo cual determinará el tipo de unión.

In [19]:
# hacemos un concatenate con df1 y df2
df_final = pd.concat([df1,df2], axis = 0, join='outer',ignore_index=True)

In [20]:
df_final.head()

,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Investigator Or Source,Pdf,Href Formula,Href,Case Number.1,Case Number.2,Original Order,Unnamed: 22,Unnamed: 23,Siglo
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,2018.06.25,NaN,NaN,NaN,siglo_XXI
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,2018.06.03.a,NaN,NaN,NaN,siglo_XXI
2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,2018.05.26.b,NaN,NaN,NaN,siglo_XXI
3,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,2018.05.24,NaN,NaN,NaN,siglo_XXI
4,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,2018.05.13.a,NaN,NaN,NaN,siglo_XXI

In [21]:
df_final.shape

(1672, 22)

In [22]:
df1.shape[0]+df2.shape[0]

1672

In [23]:
df_final.columns

Index(['Case Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator Or Source', 'Pdf', 'Href Formula', 'Href',
       'Case Number.1', 'Case Number.2', 'Original Order', 'Unnamed: 22',
       'Unnamed: 23', 'Siglo'],
      dtype='object')

In [24]:
# Ahora unimos el df_final con el df3
df3.columns

Index(['Case Number', 'Fatal (Y/N)', 'Injury', 'Date'], dtype='object')

In [25]:
## unimos por case number, ya que es comun en ambos. Hacemos un left merge:

df_ = pd.merge(left = df_final, right = df3, how = 'left', on = 'Case Number')

In [26]:
df_.head()

,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Href,Case Number.1,Case Number.2,Original Order,Unnamed: 22,Unnamed: 23,Siglo,Fatal (Y/N),Injury,Date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,2018.06.25,NaN,NaN,NaN,siglo_XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,2018.06.03.a,NaN,NaN,NaN,siglo_XXI,Y,FATAL,03-Jun-2018
2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,2018.05.26.b,NaN,NaN,NaN,siglo_XXI,N,Lower left leg bitten,26-May-2018
3,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,2018.05.24,NaN,NaN,NaN,siglo_XXI,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018
4,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,2018.05.13.a,NaN,NaN,NaN,siglo_XXI,N,Injured by teeth of a dead porbeagle shark he ...,13-May-2018

In [27]:
df_.shape

(1672, 25)

In [28]:
df3.shape[1] + df_final.shape[1]

26

5. Guardad el dataframe nuevo en un csv que usaremos mañana en la clase de pair programming

In [29]:
df_.to_csv('../DATA/Ejercicio_Pandas_5.csv')